@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
}

/* Container for Navigation Bar */
#mainContent{
	position:relative;		
}

/* Navigation Bar styling*/
#mainContent .header{
	position:absolute;
	left: 0;
	top:0;
	right: 0;
	margin:auto;
	display:block;
	background-color:#F2F2F2;
	max-width:100%;
	height:40px;
	padding: 1px;
	font-family:Georgia, "Times New Roman", Times, serif;	
	opacity:0.7;
}
#mainContent .header img{
	margin-left:10px;
}
#mainContent .header .lfloat{
	float:left;
	padding-left:30px;
}

#mainContent .header #main-id{
	text-decoration:none;
	margin-top:8px;
	opacity:1;
	margin-left:120px;
}

#mainContent .header #main-id li{
	list-style-type:none;
	display:inline;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	margin-left:10px;
}
#mainContent .header #main-id li a{
	text-decoration:none;
	padding:10px;
	text-transform: uppercase;
	border-bottom:none;
}
#mainContent .header #main-id li a:hover{
	background-color:#F9BA34;
	color:white;
}

#mainContent .header #main-id .right{
	margin-left:460px;

}

/* Content below navigation bar */

#full-bg{	
	position:relative;
	margin:0 auto;	

}

#full-bg .promo_item{
	position:absolute;
	width:100%;
	height:677px;
	
	-webkit-animation-name: cfFadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 8s;
	
	-moz-animation-name: cfFadeInOut;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 8s;
	
	-o-animation-name: cfFadeInOut;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-duration: 8s;
	
	animation-name: cfFadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;	
}

@font-face{
	font-family: "navBar";
	src:url('../fonts/GothamNarrow-Book.otf') format("opentype");	
}

/* Content of the sliding images of promotions*/
#full-bg .promo_item .promo_content{
	position:relative;
	text-align:right;
	color:white;
	margin: 80px 40px auto auto;
}
#full-bg .promo_item .promo_content span{
	font-size:36px;
	text-shadow: 2px 2px 2px #000;
}

#full-bg .promo_item .promo_content a{
	background-color:#F9BA34;
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:4px;
	border:none;
	font-size:18px;
}

#full-bg .form{	
	position:absolute;
	width:100%;
	top:580px;
	bottom:0;
	background-color:#F9BA34;
	height:100px;

}

#full-bg .form .search{
	text-align:center;
	margin-top:20px;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:1px 1px 1px #000;
	font-size:15px;
	font-weight:300;
	color:white;
}

#full-bg .form .search .form-layout .element1 .reg{
	margin-left:-80px;

}

#full-bg .form .search .form-layout .element1 .dest{
	margin-left:60px;
}

@-webkit-keyframes cfFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes cfFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes cfFadeInOut {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
			
@keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#full-bg div:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#full-bg div:nth-of-type(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#full-bg div:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#full-bg div:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

#content1{
	position:relative;
	top:677px;
	height:600px;
	padding-top:1%;
	padding-left:8%;
	background-color:#74C2E1;	
}
#content1 h2{
	font-size:36px;
	text-align:center;
	margin-bottom:10px;
	opacity:0.8;
	text-shadow:1px 1px 2px #FFF;
}

#content1 section{
	overflow:hidden;
}

#content1 section figure{
	position:relative;
	float:left;
}	

#content1 section figure figcaption{
	position:absolute;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity:0.7;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	text-align: center;
	color: #fff; 
	padding: 8px;
}	

#content2{
	margin-top:70px;
	height:700px;
	width:auto;
	background-color:#09F;	
}
#content2 img{
	margin-top:110px
}
#content3{
	height:700px;
	width:auto;
	background-color:#CFC;	
}
#content3 img{
	margin-top:110px
}

#footer{
	position:relative;
	top:677px;
	height:55px;
	padding:5px;
	width:auto;
	text-align:center;
	background-color:#E6E6DC;	
}
#footer a{
	text-decoration:none;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:none;
	text-transform:uppercase;
}
#footer p{
	text-align:center;
	margin-top:5px;
	font-size:13px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}
#social-med{
	position:fixed;
	bottom:0;
	right:0;
	width:60px;
	background-color:#CCC;
	border-radius:10px;
}
#social-med a{
	text-decoration:none;
	border-bottom:none;
}
#social-med .item1{
	margin-left:5px;
}
#social-med .item2{
	margin-left:-10px;
}

/* Content Information */

/* Navigation Bar styling*/
#mainContent .header{
	margin:auto;
	display:block;
	background-color:#F2F2F2;
	max-width:100%;
	height:40px;
	padding: 1px;
	font-family:Georgia, "Times New Roman", Times, serif;	
	opacity:0.7;
}
#mainContent .header img{
	margin-left:10px;
}
#mainContent .header .lfloat{
	float:left;
	padding-left:30px;
}

#mainContent .header #main-id{
	text-decoration:none;
	margin-top:8px;
	opacity:1;
	margin-left:120px;
}

#mainContent .header #main-id li{
	list-style-type:none;
	display:inline;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	margin-left:10px;
}
#mainContent .header #main-id li a{
	text-decoration:none;
	padding:10px;
	text-transform: uppercase;
	border-bottom:none;
}
#mainContent .header #main-id li a:hover{
	background-color:#F9BA34;
	color:white;
}

#mainContent .header #main-id .right{
	margin-left:460px;

}

/*Tour Information*/

.tourpackages{
	margin-left:70px;
	margin-right:70px;	
}
.tourpackages h1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}
.tourpackages h2{
	font-family:"Monotype Corsiva", sans-serif;
	color:#F03;
	font-size:40px;
}
.tourpackages p, li{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:justify;
	font-size:18px;
}
.tourpackages img{
	width:100%;
}

/* User Login */
.mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.loginpopup{
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; 
	left: 50%;	
	width:220px;
	margin-left: -110px; 
    height:160px;
    margin-top: -80px;	
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}
img.closeBtn {
	float: right; 
	margin: -28px -28px 0 0;
	width:32px;
	height:32px;
}
.signinform .textbox label { 
	display:block; 
	padding-bottom:7px; 
}
.signinform .textbox span { 
	display:block;
}
.signinform span { 
	color:#999; 
	font-size:15px; 
	line-height:18px;
	padding-bottom:5px;
	font-family:"Times New Roman", Times, serif;
}
.signinform .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

/* About Us Page */
.about{
	margin:10px 130px auto 130px;
	padding:10px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.about h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#036;
}
.about hr{
	height:2px;
	border-width:0;
	background-color:gray;
}
.about p{
	text-align:justify;
}
.about h3{
	font-size:18px;
}

/* Contact Us Page */
.contact{
	margin:10px 130px auto 130px;
	padding:10px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.contact h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#036;
}
.contact hr{
	height:2px;
	border-width:0;
	background-color:gray;
}

/* Terms and Conditions */
.terms{
	margin-left:50px;
	margin-right:50px;
	text-align:justify;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.terms img{
	margin-top:-15px;
	margin-right:10px;
	margin-bottom:-5px;
	float:left;
	width:80px;
	height:80px;
}
.terms h1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#00C;
}
.terms hr{
	height:2px;
	border-width:0;
	background-color:gray;
}

/* User Registration Form */
.signup{
	margin:10px 130px auto 130px;
	padding:10px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.signup h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#036;
}
.signup hr{
	height:2px;
	border-width:0;
	background-color:gray;
}
.signup h4{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:right;
	padding-right:50px;
}
.signup img{
	float:right;
}
.signup #signupform tr{
	font-size:14px;	
	font-family:Verdana, Geneva, sans-serif;
}
.signup fieldset {     
	float: left;         
	width: 898px;     
	margin: 0 0 1.5em 0;     
	padding: 10px;     
	border: 1px solid #BFBAB0;     
	background-color: #F2EFE9;     
}
.signup legend {     
	margin-left: 1em;     
	padding: 0;     
	color:#C63;     
	font-weight: bold;   
	font-size:22px; 
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.signup .titleLabel{
	font-size:14px;	
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
.signup .descriptionLabel {     
	font-size:12px;	
	font-family:Verdana, Geneva, sans-serif;
}
.signup .errorLabel {     
	color:#F00;
}
.signup .required {     
	color:#F00;
	font-size:11px;
	vertical-align:super;
}
.signup .submit {     
	clear:left;
}

/* Manage Booking for User*/
.managebooking{
	margin:10px 130px auto 130px;
	padding:10px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.managebooking h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#036;
}
.managebooking hr{
	height:2px;
	border-width:0;
	background-color:gray;
}
.managebooking table{
	border-collapse: collapse;
	margin-top:10px;
}
.managebooking th{
	padding: 10px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.managebooking td{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

/* Admin Login Form */
.adminLogin{
	position:fixed;
    top: 50%;
    left: 50%;
    width:250px;
	margin-left: -125px; 
    height:200px;
    margin-top: -100px;  
}
.adminLogin h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color:#036;
}
.adminLogin hr{
	height:2px;
	border-width:0;
	background-color:gray;
}
.adminLogin .titleLabel{
	font-size:14px;	
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
.adminLogin table{
	padding-top:7px;
}

/* Admin Home */
.adminHome{
	margin:4px 70px auto 70px;
	padding:5px;
}
.adminHome img{
	margin-right:10px;
	margin-bottom:-10px;
	float:left;
	width:90px;
	height:90px;
}
.adminHome h1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#900;
}
.adminHome hr{
	height:2px;
	border-width:0;
	background-color:gray;
}
.adminHome .menu{
	float:left;
	margin:20px 0px auto 0px;
	height:450px;
	width:23%;
	border:1px solid #BFBAB0;
}
.adminHome .menu .menuList{	
	margin-left:20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.adminHome .result{
	float:right;
	margin-top:20px;
	height:450px;
	width:75%;
	border:1px solid #BFBAB0;
	overflow:auto;
}
.adminHome .result .adminContent{
	margin-left:20px;
	margin-right:20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.adminHome .result .adminContent table{
	border-collapse: collapse;
	margin-top:10px;
}
.adminHome .result .adminContent th{
	padding: 10px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.adminHome .result .adminContent td{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.adminHome .footerAdmin{
	clear:both;
	padding-top:5px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:17px;
}